@page
@using Marcinis.Helpers
@using Marcinis.Models
@model AdminModel
@{
    ViewData["Title"] = "Admin";
    IList<Customer>? Customers = SessionHelper.GetObjectFromJson<IList<Customer>>(HttpContext.Session, "customers");
    IList<MenuItem>? Menu = SessionHelper.GetObjectFromJson<IList<MenuItem>>(HttpContext.Session, "menu");
    IList<CustomerOrder>? Orders = SessionHelper.GetObjectFromJson<IList<CustomerOrder>>(HttpContext.Session, "orders");
    IList<DiscountCode>? Discounts = SessionHelper.GetObjectFromJson<IList<DiscountCode>>(HttpContext.Session, "discounts");
}

<meta charset="UTF-8">

<head>
    <link rel="stylesheet" href="/css/admin.css" />
</head>

<h1 id="admin">All Users</h1>

<form method="post">
    <table class="table-fill">
        <tr>
            <th>
                @if ((string?)ViewData["ADMIN_DISPLAY"] != "customerid")
                {
                    <button asp-page-handler="SortCustomers" asp-route-SortType="customerid" class="sort">&nbsp;<strong>Customer ID&nbsp;</strong></button>
                }
                else
                {
                    <button asp-page-handler="" class="submit clearbutton">&nbsp;<strong>Customer ID</strong>&nbsp;</button>
                }
            </th>
            <th>
                @if ((string?)ViewData["ADMIN_DISPLAY"] != "firstname")
                {
                    <button asp-page-handler="SortCustomers" asp-route-SortType="firstname" class="sort">&nbsp;<strong>First Name</strong>&nbsp;</button>
                }
                else
                {
                    <button asp-page-handler="" class="submit clearbutton">&nbsp;<strong>First Name</strong>&nbsp;</button>
                }
            </th>
            <th>
                @if ((string?)ViewData["ADMIN_DISPLAY"] != "lastname")
                {
                    <button asp-page-handler="SortCustomers" asp-route-SortType="lastname" class="sort">&nbsp;<strong>Last Name</strong>&nbsp;</button>
                }
                else
                {
                    <button asp-page-handler="" class="submit clearbutton">&nbsp;<strong>Last Name</strong>&nbsp;</button>
                }
            </th>
            <th>
                @if ((string?)ViewData["ADMIN_DISPLAY"] != "emailaddress")
                {
                    <button asp-page-handler="SortCustomers" asp-route-SortType="emailaddress" style="width: 100%; margin-left: -10px; margin-right: -8px;" class="sort">&nbsp;<strong>Email Address</strong>&nbsp;</button>
                }
                else
                {
                    <button asp-page-handler="" class="submit clearbutton" style="width: 100%; margin-left: -10px; margin-right: -10px;">&nbsp;<strong>Email Address</strong>&nbsp;</button>
                }
            </th>
            <th>
                @if ((string?)ViewData["ADMIN_DISPLAY"] != "phonenumber")
                {
                    <button asp-page-handler="SortCustomers" asp-route-SortType="phonenumber" class="sort">&nbsp;<strong>Phone Number</strong>&nbsp;</button>
                }
                else
                {
                    <button asp-page-handler="" class="submit clearbutton">&nbsp;<strong>Phone Number</strong>&nbsp;</button>
                }
            </th>
            <th>
                @if ((string?)ViewData["ADMIN_DISPLAY"] != "logintype")
                {
                    <button asp-page-handler="SortCustomers" asp-route-SortType="logintype" class="sort">&nbsp;<strong>Login Type</strong>&nbsp;</button>
                }
                else
                {
                    <button asp-page-handler="" class="submit clearbutton">&nbsp;<strong>Login Type</strong>&nbsp;</button>
                }
            </th>
            <th>Action</th>
        </tr>
        @if (Customers != null)
        {
            @foreach (var c in Customers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => c.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => c.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => c.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => c.LoginCredentials.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => c.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => c.LoginTypeId)
                    </td>
                    <td>
                        <Button class="custom-btn btn-3" asp-page-handler="CustomerEdit" asp-route-bindCustId="@c.CustomerId"> &#9999; </Button>
                        <Button class="custom-btn btn-3" asp-page-handler="CustomerDelete" asp-route-bindCustId="@c.CustomerId"> &#10060; </Button>
                    </td>
                </tr>
            }
        }
    </table>

</form>
<div class="container" style="padding:20px">
    
    <form method="post" class="adminForm" asp-page-handler="AddCustomer" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <!-- Customer ID -->
        <input type="text" asp-for="cust.CustomerId" placeholder="Customer ID" />

        <!-- First Name -->
        <input type="text" asp-for="cust.FirstName" placeholder="First Name"/>

        <!-- Last Name -->
        <input type="text" asp-for="cust.LastName" placeholder="Last Name"/>

        <!-- Email Address -->
        <input type="text" asp-for="cust.LoginCredentials.EmailAddress" placeholder="Email Address"/>

        <!-- Phone Number -->
        <input type="text" asp-for="cust.PhoneNumber" placeholder="Phone Number"/>

        <!-- Password -->
        <input type="password" asp-for="cust.LoginCredentials.Password" placeholder="Password"/>
        <span asp-validation-for="cust.LoginCredentials.Password" class="text-danger"></span>

        <!-- Login Type ID -->
        <input type="text" asp-for="cust.LoginTypeId" placeholder="Login Type Id" />

        <!-- submit bt -->
        <input class="submitBT" type="submit" value="Add Customer"/>
    </form>

</div>

<form method="post">
    <table class="table-fill">
        <tr>
            <th>
                @if ((string?)ViewData["ADMIN_DISPLAY"] != "productid")
                {
                    <button asp-page-handler="SortMenuItems" asp-route-SortType="productid" class="sort">&nbsp;<strong>Product ID</strong>&nbsp;</button>
                }
                else
                {
                    <button asp-page-handler="" class="submit clearbutton">&nbsp;<strong>Product ID</strong>&nbsp;</button>
                }
            </th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Price</th>
            <th>QOH</th>
            <th>Category</th>
            <th>Action</th>
        </tr>

        @if (Menu != null)
        {
            @foreach (var i in Menu)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => i.PROD_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => i.PROD_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => i.PROD_DESC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => i.PROD_TYPE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => i.PROD_PRICE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => i.PROD_QOH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => i.PROD_CATEGORY)
                    </td>
                    <td>
                        <Button class="custom-btn btn-3" asp-page-handler="MenuItemEdit" asp-route-bindItemId="@i.PROD_ID">&#9999;</Button>
                        <Button class="custom-btn btn-3" asp-page-handler="MenuItemDelete" asp-route-bindItemId="@i.PROD_ID">&#10060;</Button>
                    </td>
                </tr>

            }
        }
    </table>

</form>



<div></div>

<div class="container" style="padding:20px">
    
    <form method="post" class="adminForm" asp-page-handler="AddMenuItem" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <!-- Product ID -->
        <input type="text" asp-for="item.PROD_ID" placeholder="Product ID" />


        <!-- Product Name -->
        <input type="text" asp-for="item.PROD_NAME" placeholder="Product Name" />

        <!-- Product Description -->
        <input type="text" asp-for="item.PROD_DESC" placeholder="Product Description" />

        <!-- Product Type -->
        <input type="text" asp-for="item.PROD_TYPE" placeholder="Product Type" />

        <!-- Product Price -->
        <input type="text" asp-for="item.PROD_PRICE" placeholder="Product Price" />

        <!-- Product Quantity on Hand -->
        <input type="text" asp-for="item.PROD_QOH" placeholder="Product Quantity on Hand" />

        <!-- Product Category -->
        <input type="text" asp-for="item.PROD_CATEGORY" placeholder="Product Category" />

        <!-- Product Image -->
        <input type="file" asp-for="item.ImageFile" placeholder="Product Image" />
        <span asp-validation-for="item.ImageFile" class="text-danger"></span>

        <!-- submit bt -->
        <input type="submit" class="submitBT" value="Add Item" />
    </form>

</div>

<form method="post">
    <table class="table-fill">
        <tr>
            <th>Order ID</th>
            <th>Customer ID</th>
            <th>CC Number</th>
            <th>CC CVV</th>
            <th>CC Exp Month</th>
            <th>CC Exp Year</th>
            <th>CC Zip Code</th>
            <th>Pickup Time</th>
            <th>Sub Total</th>
            <th>Tax</th>
            <th>Total</th>
            <th>Order Date</th>
            <th>Action</th>
        </tr>

        @if (Orders != null)
        {
            @foreach (var o in Orders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => o.ORDER_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => o.ORDER_CUST_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => o.ORDER_CREDIT_CARD_NUM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => o.ORDER_CREDIT_CARD_CVV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => o.ORDER_CREDIT_CARD_EXP_MONTH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => o.ORDER_CREDIT_CARD_EXP_YEAR)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => o.ORDER_CREDIT_CARD_ZIP_CODE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => o.ORDER_PICKUP_TIME);
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => o.ORDER_SUBTOTAL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => o.ORDER_TAX)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => o.ORDER_TOTAL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => o.ORDER_DATE)
                    </td>
                    <td>
                        <Button class="custom-btn btn-3" asp-page-handler="OrderDelete" asp-route-bindOrderId="@o.ORDER_ID">&#10060;</Button>
                    </td>
                </tr>

            }
        }
    </table>

</form>



<form method="post">
    <table class="table-fill">
        <tr>
            <th>Discount Code ID</th>
            <th>Customer Code</th>
            <th>Percentage Off</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>

        @if (Discounts != null)
        {
            @foreach (var d in Discounts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => d.DiscountId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => d.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => d.Percentage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => d.StartDate);
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => d.EndDate);
                    </td>

                    <td>
                        <Button class="custom-btn btn-3" asp-page-handler="DiscountCodeDelete" asp-route-bindDiscountId="@d.DiscountId">&#10060;</Button>
                    </td>
                </tr>

            }
        }
    </table>

</form>


<div class="container" style="padding:20px">
    <form method="post" class="adminForm" asp-page-handler="AddDiscountCode" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <!-- Discount Code -->
        <input type="text" asp-for="disc.Code" placeholder="Discount Code" />

        <!-- Percentage Off -->
        <input type="text" asp-for="disc.Percentage" placeholder="Percentage Off" />

        <!-- Start Date -->
        <input type="text" asp-for="disc.StartDate" placeholder="Start Date" />

        <!-- End Date -->
        <input type="text" asp-for="disc.EndDate" placeholder="End Date" />

        <!-- submit bt -->
        <input type="submit" class="submitBT" value="Add Discount Code" />

    </form>
</div>