@page
@using Marcinis.Helpers
@using Marcinis.Models
@model Marcinis.Pages.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
    Dictionary<string, string> OrderDetails = SessionHelper.GetObjectFromJson<Dictionary<string, string>>(HttpContext.Session, "OrderDetails") ?? new Dictionary<string, string>();
}

<link rel="stylesheet" href="css/checkout.css">

<div class="background-container">

    <div class="row">
        <div class="column-custom">
            <div class="form info">
                <form method="post">
                    <h1 class="header">Schedule Pickup Time</h1>
                    @Html.DropDownListFor(m => m.CustomerOrder.ORDER_PICKUP_TIME, Model.AvailableTimes,
                    new { @class = "form-control", id="time-drop-down", onmousedown="if(this.options.length>5){this.size=5;}", onchange="this.size=0;", onblur="this.size=0;"})
                    <p><span asp-validation-for="CustomerOrder.ORDER_PICKUP_TIME" class="text-danger"></span></p>
                    <!--Form section to enter Customer payment details-->
                    <h1 class="header">Payment Information</h1>
                    <label>
                        <span>Credit Card Number</span>
                        <input type="text" asp-for="CustomerOrder.ORDER_CREDIT_CARD_NUM" placeholder="#### #### #### ####"/>
                        <p><span asp-validation-for="CustomerOrder.ORDER_CREDIT_CARD_NUM" class="text-danger"></span></p>
                    </label>
                    <label>
                        <span>Expiration Date</span>
                        <input type="text" asp-for="CardExpiry" placeholder="##/##"/>
                        <p><span asp-validation-for="CardExpiry" class="text-danger"></span></p>
                    </label>
                    <label>
                        <span>CVV</span>
                        <input type="text" asp-for="CustomerOrder.ORDER_CREDIT_CARD_CVV" placeholder="###"/>
                        <p><span asp-validation-for="CustomerOrder.ORDER_CREDIT_CARD_CVV" class="text-danger"></span></p>
                    </label>
                    <label>
                        <span>Zip Code</span>
                        <input type="text" asp-for="CustomerOrder.ORDER_CREDIT_CARD_ZIP_CODE" placeholder="#####"/>
                        <p><span asp-validation-for="CustomerOrder.ORDER_CREDIT_CARD_ZIP_CODE" class="text-danger"></span></p>
                    </label>

                    <!--Button to finalize their order which should then send them to the order confirmation page-->
                    <button asp-page-handler="Place your order" class="submit place-order" style="position:sticky; bottom:0;">Place your order</button>
                </form>
            </div>
        </div>

        <div class="column-custom">
            <div class="form sign-in">
                <h1 class="header">Cart</h1>

                <!--Div to hold the Cart information (item ordered, price, quantity)-->
                <div class="items-ordered">
                    <div class="row">
                        <div class="col">
                            @{
                                <!--Loop through the CustomerOrder.ORDER_ITEM.Values to obtain the product quantities and display them-->
                                var orderProdQuantity = Model.CustomerOrder.ORDER_ITEMS.Values;
                                foreach (int value in orderProdQuantity)
                                {
                                    <p>@value</p>
                                }
                            }
                        </div>
                        <div class="col">
                            <!--Loop through the CustomerOrder.ORDER_ITEM.Keys to obtain the product names and display them-->
                            @{
                                var orderProdNames = Model.CustomerOrder.ORDER_ITEMS.Keys;
                                foreach (string key in orderProdNames)
                                {
                                    <p>@key</p>
                                }
                            }
                        </div>
                        <div class="col">
                            <!--Obtain the product prices to display them-->
                            @{
                                var itemValues = Model.itemPairValues.Values;
                                foreach (decimal itemValue in itemValues) {
                                    <p>@itemValue</p>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="cart-total">
                    <p>
                        <span>Subtotal</span>
                        <span>@Model.CustomerOrder.ORDER_SUBTOTAL</span>
                    </p>
                    <p>
                        <span>Tax</span>
                        <span>@Model.CustomerOrder.ORDER_TAX</span>
                    </p>
                    <p>
                        <span>Total</span>
                        <span>@Model.CustomerOrder.ORDER_TOTAL</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>