@page
@using Marcinis.Helpers;
@model Marcinis.Pages.OrderConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
    Dictionary<string, decimal> itemPairValues = SessionHelper.GetObjectFromJson<Dictionary<string, decimal>>(HttpContext.Session, "itemPairValues") ?? new Dictionary<string, decimal>();
}


<link rel="stylesheet" href="css/orderconfirmation.css">

<section class="background-container">
    &nbsp;

    <div class="row body">

        <div class="col">
            <!--This is the beginning of the left column that will hold the thank you message and pickup location/time-->
            <div class="row left-column">
                <div col>
                    <h1 class="header">Grazie, @Model.Customer?.FirstName!</h1>
                    <hr>
                    <p>Order #: @Model.CustomerOrder.ORDER_ID</p>
                    <p>A confirmation email has been sent to @Model.Customer?.LoginCredentials.EmailAddress</p>
                </div>
            </div>
            &nbsp;

            <div id="botleft" class="row left-column" style="height: 71%;">
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3469.0047750294884!2d-98.44498838399718!3d29.60354744621813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865c8a2d06a55555%3A0x8395f6d4ccf49f3d!2s2903%20N%20Loop%201604%20E%20Suite%20134%2C%20San%20Antonio%2C%20TX%2078259!5e0!3m2!1sen!2sus!4v1663228321112!5m2!1sen!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="rounded"></iframe>
                </div>
                <p></p>
                <div class="col left-column">
                    <div class="row">
                        <div class="col-sm-1">
                            <img src="~/images/Location-icon.png" height="50px" width="50px">
                        </div>
                        <div class="col" style="padding-left:45px; margin-top: -15px;">
                            <p style="margin-top: -15px;">Location</p>
                            <p style="margin-top: -15px;">2903 N Loop 1604 E</p>
                            <p style="margin-top: -15px;">San Antonio, Texas, 78259</p>
                            <p style="margin-top: -15px;">512-968-8024</p>
                        </div>
                    </div>
                    <hr>
                    &nbsp;
                    <div class="row">
                        <div class="col-sm-1">
                            <img src="~/images/Time-icon.png" height="50px" width="50px">
                        </div>
                        <div class="col" style="padding-left:45px">
                            <p>Pickup Time</p>
                            <p style="margin-top: -15px;">@Model.CustomerOrder?.ORDER_PICKUP_TIME.ToString("hh:mm tt")</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col">
            <!--This is the beginning of the right column that will hold the details of the order (items ordered, price, etc.)-->
            <div class="right-column">
                <h2 class="header">Order Details</h2>
                <hr>
                &nbsp;

                <div>
                    <div class="items-ordered">
                        <div class="row">
                            @if(Model.CustomerOrder != null)
                            {
                                @foreach (string item in Model.CustomerOrder.ORDER_ITEMS.Keys)
                                {
                                    decimal itemsPrice = Model.CustomerOrder.ORDER_ITEMS[item] * itemPairValues[item];
                                    <p class="split-para"><strong>@Model.CustomerOrder.ORDER_ITEMS[item]</strong> @item <span>$@itemsPrice</span></p>
                                }
                            }
                        </div>
                    </div>

                    <div class="cart-total">
                        <p>
                            <span>Subtotal</span>
                            <span>$@String.Format("{0:0.00}", Model.CustomerOrder?.ORDER_SUBTOTAL)</span>
                        </p>
                        <p>
                            <span>Tax</span>
                            <span>$@String.Format("{0:0.00}", Model.CustomerOrder?.ORDER_TAX)</span>
                        </p>
                        @if (SessionHelper.GetObjectFromJson<decimal>(HttpContext.Session, "percentOff") > 0 && Model.CustomerOrder != null)
                        {
                            decimal discAmt = SessionHelper.GetObjectFromJson<decimal>(HttpContext.Session, "discAmt");
                            <p>
                                <span>Discount</span>
                                <span>-$@String.Format("{0:0.00}", discAmt)</span>
                            </p>
                        }
                        <p>
                            <span>Total</span>
                            <span>$@String.Format("{0:0.00}", Model.CustomerOrder?.ORDER_TOTAL)</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    &nbsp;
</section>