@page
@using Marcinis.Models
@model Order
@{
    ViewData["Title"] = "Order";
}

<head>
    <link rel="stylesheet" href="/css/order.css"/>
</head>

<!-- This is the menu navbar. The links take the user to headings and categories within the menu. -->
<nav id="menuNavBar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-fixed-top border box-shadow mb-3">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li id=menuLi class="nav-item">
                    <a id=aLi class="nav-link" href="#appetizers">Appetizers</a>
                </li>
                <li id=menuLi class="nav-item">
                    <a id=aLi class="nav-link" href="#pasta">Pasta</a>
                </li>
                <li id=menuLi class="nav-item">
                    <a id=aLi class="nav-link" href="#pizza">Pizza</a>
                </li>
                <li id=menuLi class="nav-item">
                    <a id=aLi class="nav-link" href="#dessert">Dessert</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- This is the row of cards for the appetizers. -->
<h1 id="appetizers">Appetizers</h1>
<div class="container mx-auto mt-4">
    <div class="row">
        @foreach(MenuItem appetizer in Model.appetizers)
        {
            <div class="col-md-3">
                <div id="genCard" class="card" style="width: 18rem;">
                    <div class="bg-image">
                        <img src="/Menu Items/Appetizers/breadsticks.jpg" class="img-fluid" style="object-fit: cover;" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@appetizer.PROD_NAME</h5>
                        <p class="card-text">@appetizer.PROD_DESC</p>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Qty, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.DropDownListFor(model => model.Qty, new List<SelectListItem>
                            {
                            new SelectListItem {Text = "0", Value = "0", Selected = true },
                            new SelectListItem {Text = "1", Value = "1" },
                            new SelectListItem {Text = "2", Value = "2" },
                            new SelectListItem {Text = "3", Value = "3" },
                            new SelectListItem {Text = "4", Value = "4" },
                            new SelectListItem {Text = "5", Value = "5" },
                            new SelectListItem {Text = "6", Value = "6" },
                            new SelectListItem {Text = "7", Value = "7" },
                            }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>



<h1 id="pasta">Pasta</h1>
<h1 id="pizza">Pizza</h1>
<h1 id="dessert">Dessert</h1>






